{% extends "pages/base.html" %}

{% block title %}
Student Management
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <div class="header-title">
          <h1>Welcome to Student Management System</h1>
          <p>This is a simple student management system built with python and pgadmin.</p>
        </div>
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
      </div>
    </div>
    <div class="search-form">
      <form action="{{ url_for('search') }}" method="get">
        <div class="form-group">
          <label for="student_code">Search</label>
          <input type="text" class="form-control" id="search" name="student_code" placeholder="Search with student code" onkeyup="if (document.getElementById('search') != none){document.getElementById('submit').disabled = False} else{ document.getElementById('submit').disabled = True }">
        </div>
        <button type="submit" class="btn btn-primary" id="submit">Search</button>
      </form>
    </div>
  </div>
  <p>{{error}}</p>
  {% if scores %}
    <div class="information">
      <table>
        <tr>
          <th>Student code:</th>
          <th>{{student.student_code}}</th>
        </tr>
        <tr>
          <th>Student name:</th>
          <th>{{student.student_name}}</th>
        </tr>
        <tr>
          <th>Student sex:</th>
          <th>{{student.student_sex}}</th>
        </tr>
        <tr>
          <th>Student birthday:</th>
          <th>{{student.student_birthday}}</th>
        </tr>
        <tr>
          <th>Student course:</th>
          <th>{{student.student_course}}</th>
        </tr>
        <tr>
          <th>Student study time:</th>
          <th>{{student.student_study_time}}</th>
        </tr>
      </table>
      <p>-----------------------------></p>
      <table>
        <tr>
          <th>Class_code:</th>
          <th>{{class_.class_code}}</th>
        </tr>
        <tr>
          <th>Class_name:</th>
          <th>{{class_.class_name}}</th>
        </tr>
        <tr>
          <th>Lead teacher name:</th>
          <th>{{class_.lead_teacher_name}}</th>
        </tr>
        <tr>
          <th>Phone number of lead teacher</th>
          <th>{{class_.phone_number_of_lead_teacher}}</th>
        </tr>
      </table>
    </div>
    {% for semester in scores.keys() %}
    <h1>{{semester}}</h1>
    <table>
        <tr>
            <th>Student Code</th>
            <th>Subject name</th>
            <th>Final Score</th>
            <th>Test Score</th>
            <th>Specialized Score</th>
            <th>Average Score</th>
        </tr>
        {% for score in scores[semester] %}
        <tr>
            <td>{{score.student_code}}</td>
            <td>{{score.subject_name}}</td>
            <td>{{score.final_score}}</td>
            <td>{{score.test_score}}</td>
            <td>{{score.specialized_score}}</td>
            <td>{{score.average_score}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}