{% extends "pages/base.html" %}

{% block title %}
Student Management
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <div class="header-title">
          <h1>Welcome to Student Management System</h1>
          <p>This is a simple student management system built with python and pgadmin.</p>
        </div>
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
      </div>
    </div>
    <div class="search-form">
      <form action="{{ url_for('search') }}" method="get">
        <div class="form-group">
          <label for="search">Search</label>
          <input type="text" class="form-control" id="search" name="search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
  <div class="information">

  </div>
</div>
{% endblock %}