{% extends "pages/base.html" %}

{% block title %}
Score of Student Management
{% endblock %}

{% block content %}
<p>{{success}}</p>
<h1>ADD a score of student</h1>
<form action="{{url_for('admin_add_score_of_student')}}" method="get">
    <table>
        <tr>
            <th>Student Code:</th>
            <th><input type="text" name="student_code"></th>
        </tr>
        <tr>
            <th>Subject:</th>
            <th><select name="id_subject">
                {% for subject in subjects %}
                <option value="{{subject.id}}">{{subject.subject_code}} - {{subject.subject_name}}</option>
                {% endfor %}
            </select></th>
        </tr>
        <tr>
            <th>final score:</th>
            <th><input type="int" name="final_score"></th>
        </tr>
        <tr>
            <th>test score:</th>
            <th><input type="int" name="test_score"></th>
        </tr>
        <tr>
            <th>specialized score:</th>
            <th><input type="int" name="specialized_score"></th>
        </tr>
        <tr>
            <th>semester:</th>
            <th><select name="id_semester">
                {% for semester in semesters %}
                <option value="{{semester.id}}">{{semester.semester_code}} - {{semester.start_date}} - {{semester.end_date}}</option>
                {% endfor %}
            </select></th>
        </tr>
        <tr>
            <th colspan="2"><input type="submit" value="add"></th>
        </tr>
    </table>
</form>
<h1>Add list .csv</h1>
<form action="{{url_for('admin_add_score_of_student_csv')}}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>File:</th>
            <th><input type="file" name="file"></th>
            <th colspan="2"><input type="submit" value="add"></th>
        </tr>
    </table>
</form>
<h1>management a student score</h1>
<form action="{{url_for('admin_search_score_of_student')}}" method="get">
    <div class="search">
        <label for="student_code">search with student code:</label>
        <input type="text" name="student_code" placeholder="search">
        <input type="submit" value="search">
    </div>
</form>
{% if scores %}
    {% for semester in scores.keys() %}
    <h1>{{semester}}</h1>
    <table>
        <tr>
            <th>Student Code</th>
            <th>Subject</th>
            <th>Final Score</th>
            <th>Test Score</th>
            <th>Specialized Score</th>
            <th>Average Score</th>
        </tr>
        {% for score in scores[semester] %}
        <tr>
            <td>{{score.student_code}}</td>
            <td>{{score.subject_name}}</td>
            <td>{{score.final_score}}</td>
            <td>{{score.test_score}}</td>
            <td>{{score.specialized_score}}</td>
            <td>{{score.average_score}}</td>
            <td><a href="{{url_for('admin_score_edit',score_id=score.id)}}" class="button">Edit Score</a></td>
            <td><a href="{{url_for('admin_score_delete',score_id=score.id)}}" class="button">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endif %}

{% endblock %}