{% extends "pages/base.html" %}

{% block title %}
change password
{% endblock %}

{% block content %}
<form action="{{url_for('admin_change_password')}}" method="get">
    <div class="form-group">
        <label for="password">New Password:
            <input type="password" class="form-control" id="password" placeholder="Password" onkeyup='check();'>
        </label>
    </div>
    <div class="form-group">
        <label for="confirm_password">Confirm Password:
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                placeholder="Confirm Password" onkeyup='check();'>
            <span id='message'></span>
        </label>
    </div>
    <button type="submit" name="user_id" value="{{user.id}}" id="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}


{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='js/check_password.js') }}"></script>
{% endblock %}