{% extends "pages/base.html" %}

{% block title %}
Student Management System
{% endblock %}

{% block content %}
<p>{{success}}</p>
<h1>Hello: {{user.username}}</h1>
<table>
    <tr>
        <th></th>
        <th>Information</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{user.phone_number}}</td>
    </tr>
    <tr>
        <td>created_at</td>
        <td>{{user.created_at}}</td>
    </tr>
    <tr>
        <td>update_at</td>
        <td>{{user.updated_at}}</td>
    </tr>
</table>
<tabke>
    <tr>
        <th><a href="{{url_for('admin_edit_profile', user_id=user.id)}}">Edit Profile</a></th>
        <th><a href="{{url_for('admin_change_password', user_id=user.id)}}">Change Password</a></th>
        <th><a href="{{url_for('admin_logout')}}">Logout</a></th>
    </tr>
    </table>
    <div class="admin_skill_box">
        <a href="{{url_for('admin_account_management')}}" class="button"> account management</a>
        <a href="{{url_for('admin_subject_management')}}" class="button"> subject management</a>
        <a href="{{url_for('admin_class_management')}}" class="button"> class management</a>
        <a href="{{url_for('admin_semester_management')}}" class="button"> semester management</a>
        <a href="{{url_for('admin_score_of_student_management')}}" class="button">score of student management</a>
    </div>

    {% endblock %}